.introGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 32px;
    justify-items: center;
    margin: 80px 0 0 0;
}

.introItem {
    text-align: center;
}

.introItem h3 {
    font-size: 28px;
    margin: 0 0 16px 0;
    color: #22313F;
    opacity: .90;
}

.introItem span {
    font-size: 18px;
    font-weight: 300;
    color: #34495E;
}

.imgagePlaceholder {
    width: 100%;
    height: 420px;
    background-color: #fbfbfb;
    border-radius: 8px;
}

.small {
    height: 300px !important;
}

.splitCol {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 48px; 
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col p {
    text-align: left;
    color: #34495E;
}

.sectionLeftTitle h2 {
    text-align: left;
    width: 100%;
    margin: 0 0 80px 0;
    color: #22313F;
}

.col h3 {
    font-size: 28px;
    margin: 0 0 16px 0;
    color: #22313F;
    opacity: .90;
}

.splitCol_MarginTop {
    margin: 80px 0 0 0;
}

.wallGrid {
    margin: 80px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 32px; 
}