.contactSection {
    width: 100%;
    margin: 200px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo {
    width: 100%;
    max-width: 1312px;
    padding: 56px 16px;
    background-color: #F1F8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 16px 0;
}

.contactInfo p {
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 752px;
    font-weight: 300;
    font-size: 22px;
    color: #34495E;
}

@media (max-width: 640px) {
    .contactInfo h2 {
      font-size: 34px;
    }
    .contactInfo p {
      font-size: 18px;
    }
  }